body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20201104/pngtree-technology-background-binary-computer-code-vector-illustration-image_458703.jpg');
    background-size: cover;
    color: #fff;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-align: center; 
}

h1, h2 {
    text-align: center; 
    color: purple;
}   

.profile-section {
    margin-bottom: 20px;
}

.profile-img {
    display: block;
    margin: 0 auto; 
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.image-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto; 
    max-width: 600px;
}

.image-section img {
    width: 100px; 
    height: 100px; 
    border: 2px solid #000000;
    border-radius: 50%;
    object-fit: cover;
}

.bio-section {
    text-align: left;
    border: 2px solid #b21aa5;
    padding: 10px;  
    margin-bottom: 20px; 
}
